# CMake related files or directories
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# catkin build system
.catkin_tools/
.catkin_workspace
build/
devel/
logs/
